* {
  box-sizing: border-box;
}
:root {
  --header-color: #212121;
  --text-color: #757575;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --atribute-color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
body {
  font-family: "Roboto", sans-sefrif;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin-left: 15px;
  margin-right: 15px;
  margin: 0 auto;
  outline: 2px red solid;
}
/*------------HEADER-------------*/
.header .container {
  display: flex;
  align-items: center;
}
.header {
  padding: 24px;
}
.logo-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--atribute-color);

  margin-right: 93px;
}
.header-logo-atribute {
  color: #000000;
}
.header-nav-list {
  display: flex;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-color);
  text-decoration: none;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link:hover,
.header-link:focus {
  color: var(--atribute-color);
}

.header-adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-contacts {
  margin-left: auto;
}
.header-adress:not(:last-child) {
  margin-right: 50px;
}

.header-adress:hover,
.header-adress:focus {
  color: var(--atribute-color);
}
.hero {
  background-color: #2f303a;
}
/*------------HERO-------------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;
}
.title-container {
  width: 696px;
  text-align: center;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);

  margin-bottom: 30px;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--atribute-color);
  border-radius: 4px;
  margin: 0 auto;

  padding: 10px 32px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*------------BENEFITS-------------*/
.benefits {
  margin-bottom: 94px;
}
.benefits-about {
  display: flex;
}
.benefits-about-item:last-child{
  margin: 0;
}
.benefits-about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  max-width: 270px;
  margin-bottom: 10px;
}
.benefits-about-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.benefits-about-text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*------------SPECIALIZATION-------------*/
.specialization {
  margin-bottom: 94px;
}
.specialization-list{
  display: flex;
}
.specialization-list-photo{
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.specialization-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
/*------------WORKERS-------------*/
.workers {
  background: #f5f4fa;
  padding: 94px 0;
}
.workers-list{
  display: flex;
}
.workers-member{
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  text-align: center;
}
.workers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.workers-member-title {
  font-weight: 500;
font-size: 16px;
line-height: 1.18
text-align: center;
letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.workers-member-spec {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/*------------FOOTER-------------*/
.footer {
  background-color: #2f303a;

  padding: 60px;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--atribute-color);

  margin-bottom: 20px;
}
.footer-logo-atribute {
  color: #ffffff;
}
.footer-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:not(:last-child) {
  margin-bottom: 9px;
}
.footer-map:hover,
.footer-map:focus {
  color: var(--atribute-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--atribute-color);
}
/*------------SECOND-PAGE(SECTION)-------------*/
.header-portfolio{
  margin-bottom: 94px;
}
.header-portfolio .container {
  display: flex;
  align-items: center;
}
.header-portfolio {
  padding: 24px;}
.projects {
  margin-bottom: 94px;
}
.projects-list{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.project-list-item:not(:last-child){
  margin-right: 8px;
}
.projects-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  background: #f5f4fa;
  padding: 6px 22px;

  border-radius: 4px;
}
.projects-list-button:hover,
.projects-list-button:focus {
  color: #ffffff;
  background: var(--atribute-color);
}
.projects-items{
  display: flex;
  flex-wrap: wrap;
}
.projects-items-item{
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects-items-item:nth-child(3n){
  margin-right: 0;
}
.projects-items-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);

  margin-bottom: 4px;
}
.project-items-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
